Django==5.2.17
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==25.2
dj-database-url==2.3.0
psycopg[binary]==3.3.6
djangorestframework-simplejwt==5.5.1
bleach==6.4.0
phonenumbers==9.0.39
boto3>=1.35,<2
